<!-- <div class="cq-placeholder" data-sly-test="${wcmmode.edit}" data-emptytext="GWAM AEM template frontend"></div> -->

<head>
    <link rel="stylesheet"
        href="/etc.clientlibs/gwam-aem-frontend-template/clientlibs/clientlib-gwam-aem-frontend-template.css"
        type="text/css">
</head>
<section>
    <div id="spa-root"></div>
    <script src="/etc.clientlibs/gwam-aem-frontend-template/clientlibs/clientlib-gwam-aem-frontend-template.js"></script>
</section>
<script>
    console.log("INJECT HERE");
</script>